{% extends 'core/base.html' %}
{% load static %}
{% block content %}    
    <div class="container-fluid">
      <div class="card bg-white text-muted">
        <img class="img-fluid img-businessPrev" src="{% static 'core/assets/contabilidad_general1440x550.jpg' %}" alt="Card image">
        <br>
          <div class="col m-4">
            <div class="row">
              <div class="wrapper-history text-content col-md-10 container pt-4 content-history text-justify">
                  <p>CyP Consultores Integrales Chile Spa fue fundada con el propósito de atender las necesidades de los emprendedores y contribuyentes en general, en ser guiados en los procesos desde la idea de negocio, puesta en marcha y durante el funcionamiento, entendiendo cada paso de la realización, capacitándose y no perdiendo el control de sus empresas</p>
                  <p>Nuestro objetivo es hacer la diferencia en el desarrollo de los empresarios, que por falta de conocimientos muchas veces no logran avanzar, cometiendo errores, no cumpliendo con las normativas tributarias y legales por desinformación y muchas veces terminando en quiebra por malas decisiones.</p>
                  <p>Queremos acompañarlos en todo momento, entregando la información oportuna, para una buena toma de decisiones y así cumplir con todos sus objetivos</p>

                  <div class="row justify-content-md-center">
                    <div class="col-md-2">
                      <img class="img-fluid business-logo p-2" src="{% static 'core/assets/85bf48c8-cfed-4b98-aec2-dec61a368fdb.png' %}" alt="">
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <!-- Code Card My Business -->
      <div class="container" >

        <div class="card mt-3 card-business">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" src="{% static 'core/assets/comprometidos4.jpg' %}" alt="imgComprometido">
            </div>
  
            <div class="col-md-8 mt-3">
              <div class="container text-justify">
                <h2 class="card-title">Nuestra Empresa</h2>
                <p>Nuestra experiencia unida a un completo sentido de independencia profesional nos permite orientar al cliente y lograr una verdadera transformación de su negocio.</p>
              </div>
            </div>
  
          </div>
        </div>

        <div class="card mt-3 card-business">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" src="{% static 'core/assets/contabilidad.jpg' %}" alt="imgComprometido">
            </div>
  
            <div class="col-md-8 mt-3">
              <div class="container text-justify">
                <h2 class="card-title">Nuestra Visión</h2>
                <p>Posicionarnos en el mercado nacional e internacional y ser reconocidos por su excelencia y calidad de servicio como una consultora, especializada en materias de índoles tributarias y financieras, asesorando desde la PYME a la gran empresa.</p>
              </div>
            </div>
  
          </div>
        </div>

        <div class="card card-business mt-3">
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" src="{% static 'core/assets/importancia-de-tener-una-correcta-contabilidad-empresarial.jpg' %}" alt="imgComprometido">
            </div>
  
            <div class="col-md-8 mt-3">
              <div class="container text-justify">
                <h2 class="card-title">Nuestra Misión</h2>
                <p>Brindar día a día un servicio de excelencia, enfocado en el constante mejoramiento de los procesos internos de nuestros clientes, agregando valor en la toma de decisiones mediante la emisión de informes de gestión contable y tributaria.</p>
              </div>
              
            </div>
  
          </div>
        </div>
  
      </div>

      <br>
      <!-- End Card My Busniess -->
    
{% endblock %}