
*{
    font-family: sans-serif ;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}   

html{
  overflow-x:  hidden;
}

body{
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
    background: #eee !important;
}

header {
  background:#333;
}

#logoNav{
  width: 100%;
  max-width: 250px;
}

#contactHeader{
  list-style: none;
}

.main-heading {
  text-align: center;
  font-size:20px;
  font-weight:bold;
  background: linear-gradient(120deg, #f5f6fa, #dcdde1);
  margin: 0 !important;
  color: #95a5a6;
}

.desktop-nav {
  width: 100vw;
  height:51px;
  background: #fbba2b;
}

nav ul {
  display: flex;
  list-style: none;
  z-index: 1 !important;
}

nav ul a {
  padding: 13px 50px;
  display: block;
  text-decoration: none;
  color:#fff;
  background: #fbbe3a;
  z-index: 1 !important;
}

nav ul a:hover {
  transition: .2s;
  background: #ffa502;
  color: #fff;
}

nav ul ul {
  border: solid 1px #ffb62e;
  width: 188px;
  display: none;
  position: absolute;
  flex-direction: column;
  box-shadow: 3px 2px 2px -1px rgba(0, 0, 0, .32);
}

nav ul ul a {
  min-width:170px;
}

.mobile-nav {
  display:none;
}

#toggle-nav {
  display:none;
}

i {
  margin-left: 8px;
}

.hamburgerMenu div{
  width: 25px;
  height: 3px;
  background: #eee;
  margin: 5px;
  transition: all 0.3s ease;
}

@media(max-width:600px) {
  .desktop-nav {
    display: none;
  }

  /* Code Hamburger */

  .hamburgerMenu{
    display: block !important;
    cursor: pointer;
    z-index: 3 !important;
  }

  .bar1, .bar2, .bar3 {
    width: 30px;
    height: 4px;
    background-color: #333 !important;
    margin: 6px 0;
    transition: .3s;
  }
  
  .change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  /* End Code */

 
  .mobile-nav {
    display: block;
    max-height:0;
    overflow:hidden;
    transition: .4s ease-in-out;
  }

  .mobile-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-nav.open {
    padding: 0;
    margin: 0;
    max-height:260px;
  }

  .mobile-nav ul a {
    display:block;
    padding: 8px 16px;
    text-decoration: none;
    color:#fff;
    background: #fbbe3a;
  }

  .mobile-nav ul ul  {
    display:none;
  }

  .mobile-nav ul ul a {
    background: #fbbe3a;
  }
}



.content-wrapper{
    width: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

@media screen and (max-width: 1024px) {

    .content-wrapper{
        width: 100%;
        margin: 0px 2.5% 0% 2.5%;
        transform: translateX(-1.2vh);
        margin-top: 0vh;
    }
}

.content-wrapper img{
    width: 100%;
    opacity: 0.5;
}

.text-wrapper{
    width: 100%;
    position: relative;
    margin-top: -42%;
    margin-bottom: 27%;
    box-shadow: 35px 40px 15px -8px rgba(51, 51, 51, 0.4);
    background-color: #f39c12; 
    opacity: 0.9;
    padding: 7%;
    border-radius: 7px;
}


.text-wrapper blockquote{
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.btnContactNow{
    background: #eb2f06;
    color: #fff;
    width: 240px;
    height: 80px;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
    margin: 10%;
    border: none;
    border-radius: 12px;
}

.btnContactNow:focus{
    outline: none;
}

.btnContactNow:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0%;
    top: 0;
    opacity: .5s;
    filter: blur(30px);
    transform: translateX(-130px) skewX(-15deg);
}

.btnContactNow:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 50%;
    top: 0;
    opacity: 0;
    filter: blur(30px);
    transform: translate(-100px) scaleX(-15deg);
}

.btnContactNow:hover{
    background: #ffa502;
    cursor: pointer;
}

.btnContactNow:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: 0.7s;
}

.btnContactNow:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 0.7s;
}

/* code card */

.wrapper-card{
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}


.container-card .box:nth-child(1) .icon{
    box-shadow: 0 0 0 0 #ffa502;
    background: #ffa502;
}

.container-card .box:nth-child(1):hover .icon{
    box-shadow: 0 0 0 400px #ffa502;
}

.container-card .box:nth-child(2) .icon{
    box-shadow: 0 0 0 0 #e67e22;
    background: #e67e22;
}

.container-card .box:nth-child(2):hover .icon{
    box-shadow: 0 0 0 400px #e67e22;
}

.container-card .box:nth-child(3) .icon{
    box-shadow: 0 0 0 0 #ffa502;
    background: #ffa502;
}

.container-card .box:nth-child(3):hover .icon{
    box-shadow: 0 0 0 400px #ffa502;
}

.container-card .box .content-card{
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.container-card .box:hover .content-card{
    color: #fff;

}

.container-card .box .content-card h3{
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.container-card .box .content-card p{
    margin: 0;
    padding: 0;
}

.content-card a{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

/* code start card design */
.container-card .box{
  position: relative;
  width: 350px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border-radius: 4px;
  margin: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.container-card .box::before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, .2);
  z-index: 1;
  pointer-events: none;
}

.container-card .box .icon{
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 700;
  transition: 1s;
}


/* end code design */



/* Footer Code */
.site-footer
{
  background: #fbbe3a;
  padding:10px 0 20px;
  font-size:15px;
  line-height:24px;
  color: #636e72;
  width: 100%;
}

@media screen and (max-width: 1024px){
    .img-fluid .logo-container{
        width: 24vh;
        transform: translateX(25vw);
    }
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color: #636e72;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: #636e72;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* End Code Footer */


/* Code Card  */

  .card-business{
    transition: .4s;
    border: solid 1px #ced6e0 !important;
    border-radius: 2px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  .card-business:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    transition: .4s;
  }
  
/* End Code Card */

/* Code My business */
.wrapper-history{
  background-color: #dfe6e9;
  border: 1px solid #ced6e0;
  border-radius: 2px;
  box-shadow: 10px 10px 20px rgba(0,0,0,.12), 5px 5px 10px rgba(0,0,0,.12);
}

.img-businessPrev{
  border: 1px solid #ced6e0;
  border-radius: 1%;
  box-shadow: 4px 4px  rgba(0,0,0,.12), 4px 4px 4px rgba(0,0,0,.12);
}
/* End My business*/

/* Media My business*/
@media(max-width: 762px){
  .business-logo{
    max-width: 45% !important;
    margin: auto !important;
    height: 0;
    position: relative;
    left: 27%;
  }
}

/*End my business*/

/* Code Services */
.header-services{
  color:#96a2b2;
}

.list-asesory{
  background-color: #faac1a !important;
  transform: translateY(0px);
  transition: .2s;
}

.list-asesory:hover{  
  transform: scale(1.02);
  transition: .2s;
  box-shadow: 10px 10px 20px rgba(0,0,0,.12), 10px 10px 10px rgba(0,0,0,.12);
}


.list-recurses{
  background-color: #f6bb4d !important;
  transform: translateY(0px);
  transition: .2s;
}

.list-recurses:hover{
  transform: scale(1.02);
  transition: .2s;
  box-shadow: 10px 10px 20px rgba(0,0,0,.12), 10px 10px 10px rgba(0,0,0,.12);
}

.logo-bottom{
  border-radius: 5.0rem;
  background-color: #eee;
  box-shadow: 10px 10px 20px rgba(0,0,0,.12), 10px 8px 8px rgba(0,0,0,.06);
}
/* End code Services */


/* Media Code List Services */
  @media (max-width:767px){
    .logo-bottom{
      max-width: 45% !important;
      margin: auto !important;
      height: 0%;
      position: relative;
      left: 27%;
    }
  }
  
/* End code */

/* Form Contact US code style */

.wrapper-form{
  width: 100%;
  max-width: 100%;
  background-size: cover;
}


.contact-form{
  width: 100%;
  max-width: 100%;
  background: #f1f1f1;
  padding: 50px 50px;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 20px #000000b3;
  background: #f6bb4d;
}
.contact-form h1{
  margin-top: 0;
  font-weight: 200;
  color: #eee;
}
.txtb{
  border:1px solid gray;
  margin: 8px 0;
  padding: 12px 18px;
  border-radius: 8px;
  background: #dfe6e9
}
.txtb label{
  display: block;
  text-align: left;
  text-transform: uppercase;
  font-size: 14px;
  color: #84817a;
}
.txtb input,.txtb textarea{
  width: 100%;
  border: none;
  background: none;
  outline: none;
  font-size: 18px;
  margin-top: 6px;
}

.btn{
  display: inline-block;
  background: #f39c12 !important; 
  padding: 14px ;
  color: #f1f1f1 !important;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 8px;
  width: 100%;
}

.btn:hover{
  background: #e08e0a !important;
  transition: .2s;
}

/* End Code */